# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

API_KEY=
API_TOKEN=
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
DOCKER_TOKEN=
DOCKER_USERNAME=
PRIMARY_CONNECTION_STRING_DB=
USERNAME=
