# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

API_KEY=2a6a1ec21325310e0ed98efa302b2dd3

API_TOKEN={{api_token}} #actual token stored in an Ansible vault called secrets.yml

TRELLO_TODO_LIST_ID=6205664a19d7b437223061ec

TRELLO_DONE_LIST_ID=6205664a19d7b437223061ee

TRELLO_DOING_LIST_ID=6205664a19d7b437223061ed

TRELLO_BOARD_ID=6205664a19d7b437223061eb